<div class="animated fadeIn contenedor">
  <div class="col-xl-12 mb-lg-8 mb-sm-4 mb-2">
    <div class="card">
      <div class="card-header">Actualizar Trabajador</div>
      <div class="card-body">
        <div class="formulario-actualizar-trabajador">
          <form autocomplete="off" [formGroup]="editarTrabajadorForm">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="icon-user"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Nombre"
                autocomplete="username"
                formControlName="nombre"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="cil-building"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Apellido"
                autocomplete="apellido"
                formControlName="apellido"
              />
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="cil-building"></i
                ></span>
              </div>
              <select formControlName="obra" class="form-select" aria-label="Default select example">
                <option ></option>
                <option  *ngFor="let obra of obrasLista"
                [value]= "obra.id"
                [selected]="editarTrabajadorForm.obra==obra.id ? true : null"
                >
              {{obra.nombre}}</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="cil-phone"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Cedula"
                autocomplete="cedula"
                formControlName="cedula"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="cil-industry"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Celular"
                autocomplete="celular"
                formControlName="celular"
              />
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="cil-house"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Cargo"
                formControlName="cargo"
                autocomplete="new-password"
                formControlName="cargo"
              />
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="icon-lock"></i
                ></span>
              </div>
              <input
                type="password"
                class="form-control"
                placeholder="Contraseña"
                formControlName="contrasena"
                autocomplete="new-password"
                formControlName="contrasena"
              />
            </div>
            <button
              [routerLink]="['/admin/listarTrabajadores']"
              (click)="editarTrabajador()"
              type="button"
              [disabled]="!editarTrabajadorForm.valid"
              class="btn btn-block btn-primary"
            >
              Actualizar
            </button>

            <button type="button" class="btn btn-block btn-danger">
              Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
