<div class="animated fadeIn contenedor">
  <div class="col-xl-12 mb-lg-8 mb-sm-4 mb-2">
    <div class="card">
      <div class="card-header">Registrar Obra</div>
      <div class="card-body">
        <div class="formulario-registro-obra">
          <form autocomplete="off" [formGroup]="registrarObraForm">
            
            <!-- Nombre -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="cil-factory"></i></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Nombre"
                autocomplete="nombre"
                formControlName="nombre"
                required
              />
            </div>

            <!-- Direccion -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="cil-location-pin"></i></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Direccion"
                autocomplete="direccion"
                formControlName="direccion"
                required
              />
            </div>

            <!-- Ciudad -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="cil-building"></i></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder=" Ciudad"
                autocomplete="ciudad"
                formControlName="ciudad"
                required
              />
            </div>


            <!-- Latitud -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="cil-blur-circular"></i></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Latitud"
                autocomplete="latitud"
                formControlName="latitud"
                required
              />
            </div>

            <!-- Longitud -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="cil-blur-circular"></i></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Longitud"
                autocomplete="longitud"
                formControlName="longitud"
                required
              />
            </div>

            <button
              type="button"
              [routerLink]="['/admin/listarObras']"
              class="btn btn-block btn-success"
              (click)="registrarObra()"
              [disabled]="!registrarObraForm.valid"
            >
              Registrar
            </button>
            <button type="button" class="btn btn-block btn-danger">
              Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>