<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <form autocomplete="off" [formGroup]="registrarObraForm">

                                <h1>Registrar Obra</h1>
                                <p class="text-muted">Complete el formulario para el registro de la obra</p>

                                
                                <div class="input-group mb-3">
                                    <mat-form-field>
                                        <mat-select requiered  formControlName="cliente_obra"
                                            name="cliente">
                                            <mat-option required style="color: black" class="not-empty-select"
                                                *ngFor="let clienteLista of clientes "
                                                [value]="clienteLista.cliente_id"
                                                >
                                                {{clienteLista.cliente_nombre}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="cil-building"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Ciudad" autocomplete="ciudad"
                                        formControlName="ciudad_obra" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="cil-industry"></i></span>
                                    </div>
                                    <input formControlName="direccion_obra" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                                </div>


                        
                                <div class="mb-4 center">

                                    <div class="full" id="map">

                                    </div>
                                </div>


                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="cil-building"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Latitud"
                                        autocomplete="latitud_obra" formControlName="latitud"  required>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="cil-building"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="longitud"
                                        autocomplete="longitud_obra" formControlName="longitud" required>
                                </div>


                                <button type="button" class="btn btn-block btn-success" (click)="registrarObra()"
                                    [disabled]="!registrarObraForm.valid">Añadir Obra</button>
                                <button type="button" class="btn btn-block btn-danger">Cancelar</button>

                                

                                


                            </form>


            <!-- Direccion -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="cil-location-pin"></i></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Direccion"
                autocomplete="direccion"
                formControlName="direccion"
                required
              />
            </div>

            <!-- Ciudad -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="cil-building"></i></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder=" Ciudad"
                autocomplete="ciudad"
                formControlName="ciudad"
                required
              />
            </div>


            <!-- Latitud -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="cil-blur-circular"></i></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Latitud"
                autocomplete="latitud"
                formControlName="latitud"
                required
              />
            </div>

            <!-- Longitud -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="cil-blur-circular"></i></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Longitud"
                autocomplete="longitud"
                formControlName="longitud"
                required
              />
            </div>

            <button
              type="button"
              [routerLink]="['/admin/listarObras']"
              class="btn btn-block btn-success"
              (click)="registrarObra()"
              [disabled]="!registrarObraForm.valid"
            >
              Registrar
            </button>
            <button type="button" class="btn btn-block btn-danger">
              Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>