<div class="animated fadeIn contenedor">
  <div class="col-xl-12 mb-lg-8 mb-sm-4 mb-2">
    <div class="card">
      <div class="card-header">Registrar Obra</div>
      <div class="card-body">
        <div class="formulario-registro-obra">
          <form autocomplete="off" [formGroup]="registrarObraForm">
            <h2
              style="
                border-bottom: 1px solid black;
                margin-bottom: 30px;
                padding: 20px;
              "
              align="center"
            >
              CONTRATISTA
            </h2>
          
            <h2>Clientes:</h2>
            <!-- Select de clientes-->
            <div class="input-group mb-3 matSelect">
              <mat-form-field>
                <mat-label 
                  >pulse aquí para ver los clientes</mat-label
                >
                <mat-select
                  requiered
                  formControlName="cliente_obra"
                  name="cliente"
                >
                  <mat-option
                    required
                    style="color: white; background-color: rgb(27, 27, 31)"
                    class="not-empty-select"
                    *ngFor="let clienteLista of clientes"
                    [value]="clienteLista.cliente_id"
                  >
                    {{ clienteLista.cliente_nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
   
            <h2
              style="
                border-bottom: 1px solid black;
                margin-bottom: 30px;
                padding: 20px;
              "
              align="center"
            >
              INFORMACIÓN DE LA OBRA
            </h2>

            <!-- input de dirección -->
            <div class="direccion">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="cil-map"></i
                  ></span>
                </div>
                <input
                  formControlName="direccion_obra"
                  ngx-google-places-autocomplete
                  [options]="options"
                  #placesRef="ngx-places"
                  (onAddressChange)="handleAddressChange($event)"
                />
              </div>
            </div>

            <table class="ubicacion-table">
              <th>
                <!-- input del nombre -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="cil-building"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nombre de la obra"
                    autocomplete="nombre"
                    formControlName="nombre_obra"
                    required
                  />
                </div>
              </th>
              <th>
                <!-- input de ciudad -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="cil-location-pin"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ciudad de la obra"
                    autocomplete="ciudad"
                    formControlName="ciudad_obra"
                    required
                  />
                </div>
              </th>
            </table>

            <div class="mb-4 center">
              <div class="mapa" id="map"></div>
            </div>

            <table class="ubicacion-table">
              <th>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="cil-compass"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Latitud"
                    autocomplete="latitud_obra"
                    formControlName="latitud"
                    required
                  />
                </div>
              </th>
              <th>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="cil-compass"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="longitud"
                    autocomplete="longitud_obra"
                    formControlName="longitud"
                    required
                  />
                </div>
              </th>
            </table>

            <button
              type="button"
              class="btn btn-block btn-success"
              (click)="registrarObra()"
              [disabled]="!registrarObraForm.valid"
            >
              Añadir Obra
            </button>
            <button type="button" class="btn btn-block btn-danger">
              Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
