<div class="animated fadeIn contenedor">
  <div class="col-xl-12 mb-lg-8 mb-sm-4 mb-2">
    <div class="card">
      <div class="card-header">Registrar Cliente</div>
      <div class="card-body">
        <div class="formulario-registro-cliente">
          <form autocomplete="off" [formGroup]="clienteForm">
            <!-- <ng-container *ngIf="registroCliente">
              <h1>Registrar Cliente</h1>
              <p class="text-muted">Complete el formulario</p>
            </ng-container>

            <ng-container *ngIf="edicionCliente">
              <h1>Actualizar cliente</h1>
              <p class="text-muted">
                Actualice la información deseada del cliente
              </p>
            </ng-container> -->

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="cil-user"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Nombre"
                autocomplete="username"
                formControlName="nombre"
                required
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="cil-user"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Apellido"
                autocomplete="apellido"
                formControlName="apellido"
                required
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="cil-user"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Cedula"
                autocomplete="cedula"
                formControlName="cedula"
                required
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="cil-location-pin"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Dirección"
                autocomplete="address"
                formControlName="direccion"
                required
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="cil-mobile"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Celular"
                autocomplete="celular"
                formControlName="celular"
                required
              />
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="cil-badge"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Cargo"
                formControlName="cargo"
                autocomplete="new-password"
                formControlName="cargo"
                required
              />
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="icon-lock"></i
                ></span>
              </div>
              <input
                type="password"
                class="form-control"
                placeholder="Contraseña"
                formControlName="contrasena"
                autocomplete="new-password"
                formControlName="contrasena"
                required
              />
            </div>

            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="icon-lock"></i
                ></span>
              </div>
              <input
                type="password"
                class="form-control"
                placeholder="Confirmar contraseña"
                formControlName="c_contrasena"
                autocomplete="new-password"
                required
              />
            </div>

            <ng-container *ngIf="registroCliente">
              <button
                type="button"
                class="btn btn-block btn-success"
                (click)="registrarCliente()"
                [disabled]="!clienteForm.valid"
              >
                Registrar
              </button>
            </ng-container>
            <ng-container *ngIf="edicion">
              <button type="button" class="btn btn-block btn-primary">
                Actualizar
              </button>
            </ng-container>
            <button type="button" class="btn btn-block btn-danger">
              Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
