<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                        <div class="card-header">
                            <h1>Evidencia </h1>
                        </div>
                        <div class="card-body p-4">




                            <div class="input-group mb-3 mt-4">
                                <h4>Descripción:</h4>

                            </div>

                            <div class="row ml-3">

                                <p>{{descripcion}}</p>
                            </div>

                            <div class="input-group mb-3 mt-4">
                                <h4>Trabajador:</h4>

                            </div>

                            <div class="row ml-3">

                                <p>{{trabajador}}</p>
                            </div>

                            <div class="input-group mb-3 mt-4">
                                <h4>Imagen:</h4>

                            </div>

                            <div class="row ml-3">

                                
                            <img style="width:500px;height:600px;">
                            </div>



                            <div class="mb-4 center">
                                <div class="full" id="map">
                                </div>
                            </div>



                        </div>

                        <div class="card-footer p-4">

                            <p>Subido el : {{fecha}}</p>
                            <div class="row">
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </main>
</div>