<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form autocomplete="off" [formGroup]="trabajadorForm">

                <ng-container *ngIf="registroTrabajador">

                  <h1>Registrar Trabajador</h1>
                  <p class="text-muted">Complete el formulario</p>

                </ng-container>

                <ng-container *ngIf="edicion">

                  <h1>Actualizar cliente</h1>
                  <p class="text-muted">Actualice la información deseada del cliente</p>

                </ng-container>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Nombre" autocomplete="username"
                    formControlName="nombre" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="cil-building"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Apellido" autocomplete="apellido"
                    formControlName="apellido" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="cil-building"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Cedula" autocomplete="cedula"
                    formControlName="cedula" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="cil-industry"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Dirección" autocomplete="address"
                    formControlName="direccion" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="cil-industry"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Celular" autocomplete="celular"
                    formControlName="celular" required>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Cargo" formControlName="cargo"
                    autocomplete="new-password" formControlName="cargo" required>
                </div>


                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Contraseña" formControlName="contrasena"
                    autocomplete="new-password" formControlName="contrasena" required>
                </div>
                
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Confirmar contraseña"
                  formControlName="c_contrasena" autocomplete="new-password" required>
                </div>
                
                <ng-container *ngIf="registroTrabajador">
                  <button type="button" class="btn btn-block btn-success" (click)="registrarTrabajador()"
                    [disabled]="!trabajadorForm.valid">Registrar</button>
                </ng-container>
                <ng-container *ngIf="edicion">
                  <button type="button" class="btn btn-block btn-primary">Actualizar</button>
                </ng-container>
                <button type="button" class="btn btn-block btn-danger">Cancelar</button>
              </form>
            </div>

            <ng-container *ngIf="registroCliente">
              <div class="card-footer p-4">
                <div class="row">
                  <div class="col-4">
                    <button class="btn btn-block btn-facebook" type="button"><span>Facebook</span></button>
                  </div>
                  <div class="col-4">
                    <button class="btn btn-block btn-twitter" type="button"><span>Twitter</span></button>
                  </div>
                  <div class="col-4">
                    <button class="btn btn-block btn-github" type="button"><span>Github</span></button>
                  </div>
                </div>
              </div>

            </ng-container>



          </div>
        </div>
      </div>
    </div>
  </main>
</div>